{
    experimental_http3
    cache {
        olric_config /path/to/olric.yaml
    }
}

localhost

route /cache {
    cache
    header Cache-Control "s-maxage=5"
    respond "Hello!"
}

route /other-cache {
    cache
    header Cache-Control "s-maxage=60"
    respond "Hello, World!"
}
